th {
    cursor: pointer;
}

#modal1{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#modal2 {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

* {
    margin: 1px;
    padding: 10px;
}

body{
    background-color: darkgoldenrod;
}

#sub2 {
    border-radius: 10px;
    background-color: green;
    padding: 2px;
}
