# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\boetf\Desktop\Škola\3.Ročník\LS 2020 2021\Webové Technológie 2\Zadanie_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
